body {
    overflow-y: scroll
}

#next,
#triggerVerseAdd,
#addHist {
    height: 100%;
    width: 100%;
    position: absolute;
    outline: none;
}

#mainInput,
#addVerse,
#addRef {
    box-shadow: 0px 0px 8px #888888;
    border-radius: 4px;
    font-size: 20px;
    width: 96%;
    padding-right: 2%;
    padding-left: 2%;
}

#mainInput:hover,
#addVerse:hover,
#addRef:hover {
    box-shadow: 0px 2px 15px #888888;

}


#mainInput:focus,
#addVerse:focus,
#addRef:focus {
    border-bottom: 1px solid #888;
    box-shadow: 0px 8px 25px #888888;
}

#addVerseContainer label[for=addVerse]:focus + label {
    color: #000;
}


.labelIn {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;

}


#add {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#addVerseContainer {
    margin-top: 20px;

}

.hide {
    visibility: collapse;

}

#main {
    /*position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    */
}

#menuButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#slide-out {
    text-align: center;

}

#slide-out label {
    font-size: 20px;

}


#menuContainer > li {
    line-height: inherit;
    padding: 15px;
}

.blurrText {
    filter: blur(25px);
    transition-duration: .2s;
}

.unBlurr {
    filter: none;
    transition-duration: .1s;
}

#dificultyButton,
#PosButton {
    margin: 0px;
    padding: 0px;

}

#historyList h1 {
    font-size: 30px;
    margin: 0px;
    text-decoration: underline;
}

#historyList p {
    font-size: 20px;
    margin: 0px;
    padding-top: 18px;
    margin-bottom: 10px;

}

#historyList i {
    cursor: pointer;

}

#historyList li {
    box-shadow: 0px 0px 8px #888888;
    border-radius: 4px;
    padding: 15px;
    margin: 30px;
    transition-duration: .2s;

}

#historyList li:hover {
    box-shadow: 0px 3px 15px #888888;
    transition-duration: .5s;

}

#historyList .spanText {
    cursor: pointer;

}


.input-field label {
    padding-left: 10px;
}

.input-field .active {
    margin-bottom: 25px;
    height: 110%;
}
