<<<<<<< HEAD
#next,
#triggerVerseAdd {
    height: 100%;
    width: 100%;
    position: absolute;
    outline: none;
}

#mainInput,
#addVerse {
    box-shadow: 0px 0px 8px #888888;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
}

#add {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#addVerseContainer {
    margin-top: 20px;

}

.hide {
    visibility: collapse;
    
}

#main{
    position: absolute;
}
=======
#next {
    height: 100%;
    width: 100%;
    position: absolute;
    outline: none;
}

#mainInput {
    box-shadow: 0px 0px 8px #888888;
    border-radius: 4px;
    font-size: 20px;

}
>>>>>>> 4307299f9fac552659c8622074b9afe539b3f602
