#next,
#triggerVerseAdd {
    height: 100%;
    width: 100%;
    position: absolute;
    outline: none;
}

#mainInput,
#addVerse {
    box-shadow: 0px 0px 8px #888888;
    border-radius: 4px;
    font-size: 20px;
    width: 96%;
    padding-right: 2%;
    padding-left: 2%;
}

#add {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#addVerseContainer {
    margin-top: 20px;

}

.hide {
    visibility: collapse;

}

#main {
    /*position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    */
}

#menuButton {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#slide-out {
    text-align: center;

}

#slide-out label {
    font-size: 20px;
    margin: 10px;

}


#menuContainer > li{
    line-height: inherit;
    padding: 15px;
}

.blurrText {
    filter: blur(15px);
    transition-duration: .2s;
}

.unBlurr {
    filter: none;
    transition-duration: .1s;
}

#dificultyButton{
    margin: 0px;
    padding: 0px;
    
}
